<%= render :partial => "header" %>
<!-- ### BEGIN CONTENT ### -->

<!-- 標題：註冊成功 -->

<div style="font-weight: bold; font-size: 18px; line-height: 24px; color: #FC5C41">
Hello!
</div><br>
手打人，感謝你的加入。
<br><br>
作為商家，Solda（手打）為了創造更棒的商品而存在——簡單、愉快、即時獲得迴響的販賣，讓你專心創造更棒的商品。
<br><br>
作為顧客，你可以在手打上發現有趣的商家、職人、路人，與他們自由通訊、安心交易。
<br><br>
如果你還不了解 Solda（手打）是什麼，現在就到介紹網頁逛逛， 剛起步的 Solda 非常需要你的支持與迴響，無論好壞，我們都想知道。歡迎在手打粉絲頁留言，或 email 到 <a href="mailto:hello@solda.io">hello@solda.io</a>。讓我們一起改變線上交易的未來吧！ LoL
<br><br>
<em style="font-style:italic; font-size: 12px; color: #999;">— 手打團隊</em>


<!-- ### END CONTENT ### -->
<%= render :partial => "footer" %>
