<%= render :partial => "header" %>
<!-- ### BEGIN CONTENT ### -->

<!-- 標題：[Solda] 新訂單！-->

<div style="font-weight: bold; font-size: 18px; line-height: 24px; color: #FC5C41">
Hi 藍教頭，
</div><br>

您有一筆新訂單！這是來自瀚智的訂單，請點擊查看。
<br><br>
<a href="#">訂單編號 #12361：藍教頭小淘氣手做 JoJo 烏龜大頭面具</a>
<a href="#" style="margin-top: 5px; display: block; font-size: 12px; color: #aaa;">https://solda.io/messages/cj8Dm3b/3uo02</a>

<br>
<!-- ### END CONTENT ### -->
<%= render :partial => "footer" %>