<%= render :partial => "header" %>
<!-- ### BEGIN CONTENT ### -->

<!-- 標題：[Solda] 藍教頭小陶器的出貨通知 -->

<div style="font-weight: bold; font-size: 18px; line-height: 24px; color: #FC5C41">
Hi 瀚智，
</div><br>
<table cellpadding="0" cellspacing="0" border="0" style="margin-top:10px;">
	<tr>
		<td><img src="http://solda.leolin.the-hold.handlino.com/img/s.jpg" width="30" height="30" style="border-radius: 20px; width: 30px; height: 30px;" alt="" /></td>
		<td>&nbsp;&nbsp;<strong>藍永輪</strong>&nbsp;<em style="font-size: 12px; color: #aaa; font-style: normal; ">傳送了一則訊息</em></td>
	</tr>
</table>
<table width="100%" cellpadding="5" cellspacing="0" border="0" bgcolor="#FF5B39" style="background-color: #FF5B39; color: white;	padding: 10px 10px 5px 10px;	font-size: 18px;	border-radius: 8px; margin-top: 10px;">
	<tr>
		<td>
				<a href="#" style="color: white; font-size: 16px; line-height: 20px; text-decoration: none; display:block;">您訂購的「藍校頭小淘氣手做 JoJo 烏龜面具」商品已於 2016/3/6 6:02 PM 出貨了！</a><small style="color: #FBBEB9; font-size: 12px;">點擊此訊息以回覆</small>
		</td>
	</tr>
</table>
<a href="#" style="margin-top: 5px; display: block; font-size: 12px; color: #aaa; padding-left: 15px;">https://solda.io/messages/cj8Dm3b/3uo02</a>
<br>
<strong>已經收到商品了嗎？</strong>
<br>
<br>
<a href="#">訂單編號 #12361：藍教頭小淘氣手做 JoJo 烏龜大頭面具</a>
<br>
<br>
請前往訂單頁面確認收貨並給予評價，讓他們更有動力為您服務。若商品有問題，也可以透過訂單畫面與賣家溝通哦。
<br>
<br>


<!-- ### END CONTENT ### -->
<%= render :partial => "footer" %>
