						<br>
						<a style="border:none;" href="http://solda.io"><img style="display: inline-block;" src="http://solda.leolin.the-hold.handlino.com/img/email/solda.png" width="92" height="20" alt="" /></a>
						<br/>
						<small style="color: #999">Copyright © Solda Inc. All rights reserved.</small>
          </td>
        </tr>
      </table>
      <!--/600px container -->

    </td>
  </tr>
</table>
<!--/100% wrapper-->
<br>
<br>
</body>
</html>

