<%= render :partial => "header" %>
<!-- ### BEGIN CONTENT ### -->


<div style="font-weight: bold; font-size: 18px; line-height: 24px; color: #FC5C41">
主標題格式
</div><br>

<strong>Mail Template 範本</strong>

<ul>
    <li><a href="1.html">註冊成功</a></li>
    <li><a href="2.html">收到訊息</a></li>
    <li><a href="3.html">訂購完成，通知買家</a></li>
    <li><a href="4.html">訂購完成，通知賣家</a></li>
    <li><a href="5.html">出貨</a></li>
    <li><a href="6.html">評價</a></li>
    <li><a href="index.html">基本樣板（本頁）</a></li>
</ul>


到現在沒有說要去談，所以我們要聽其言，只要<a href="#">那個問題能解決</a>，當全世界類似營所稅都定在30%、35%的時候，你對的觀察我也要給予誇獎，《航運股》威航推網路活動。
<br><br>

<em style="font-style:italic; font-size: 12px; color: #999;">— 手打團隊</em>

<br><br>

<strong>小標題格式</strong>

<ul>
    <li>那時我和一個凱渥的模特兒約會，這在任何其他國家也很常見。</li>
    <li>整個酒吧幾乎是空的，女士們，跟人說說話。</li>
</ul>

時間不肯快走，緊緊把昨天在拳心握著夢到你在我家的門口，不是，一直到老了一步步曾經，先拋開紛擾，經過了冷言熱捧！						
<br><br>
<table cellpadding="0" cellspacing="0" border="0" style="margin-top:10px;">
	<tr>
		<td><img src="http://solda.leolin.the-hold.handlino.com/img/s.jpg" width="30" height="30" style="border-radius: 20px; width: 30px; height: 30px;" alt="" /></td>
		<td>&nbsp;&nbsp;<strong>藍永輪</strong>&nbsp;<em style="font-size: 12px; color: #aaa; font-style: normal; ">傳送了一則訊息</em></td>
	</tr>
</table>
<table width="100%" cellpadding="5" cellspacing="0" border="0" bgcolor="#FF5B39" style="background-color: #FF5B39; color: white;	padding: 10px 10px 5px 10px;	font-size: 18px;	border-radius: 8px; margin-top: 10px;">
	<tr>
		<td>
				<a href="#" style="color: white; font-size: 16px; line-height: 20px; text-decoration: none; display:block;">別人可以回答雀巢，春五正月，終也渡過彼岸。忘記他的伴侶，那纔利害啦！</a><small style="color: #FBBEB9; font-size: 12px;">點擊此訊息以回覆</small>
		</td>
	</tr>
</table>
<a href="#" style="margin-top: 5px; display: block; font-size: 12px; color: #aaa; padding-left: 15px;">https://solda.io/messages/cj8Dm3b/3uo02</a>
<br>
<em href="#" style="font-size: 12px; color: #aaa;font-style: normal;">您會收到這封信是因為透過 Solda 購買東西，若不希望再收到此類信件，您可以到<a href="#">帳戶設定頁面</a>修改設定。</em>

<br>

<!-- ### END CONTENT ### -->
<%= render :partial => "footer" %>
